$font-md:500;
$font-sm:300;
$font-lg:900;
$marginMd:15px;
$primaryColor:green;
$secColor:purple;
$blackColor:black;
$lightBg:blue;
$padding-lg:120px;
body {
    font-weight:$font-sm;
}
p {
    font-weight: $font-sm;
    margin-bottom:$marginMd;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:$font-md;
  margin-bottom:15px;
}
.title {
    font-size:100px;
    font-weight:$font-lg;
}
.title-sm {
    font-size:35px;
}
.title-md {
    font-size:60px;
}